# Entorno virtual
.venv/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Secrets
.env
*.key

SYNC.md

# Carpeta de trabajo
Docs/
006_TPI_2/legado/