# Entorno virtual
.venv/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Secrets
.env
*.key

SYNC.md

# Carpeta de trabajo
docs/
007_tpi_2/legado/

# Cuadernos locales no compartidos
006_lab_integrador_guiado/001_laboratorio_integrador.ipynb

# Herramientas
herramientas/
